San Francisco - Registered Business Locations

In [1]:
import numpy as np
import pandas as pd

In [2]:
registered_businesses = pd.read_csv('Registered_Business_Locations_-_San_Francisco.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
registered_businesses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250047 entries, 0 to 250046
Data columns (total 26 columns):
Location Id                            250047 non-null object
Business Account Number                250047 non-null int64
Ownership Name                         250047 non-null object
DBA Name                               250047 non-null object
Street Address                         250043 non-null object
City                                   249856 non-null object
State                                  249431 non-null object
Source Zipcode                         249782 non-null float64
Business Start Date                    250047 non-null object
Business End Date                      100363 non-null object
Location Start Date                    250047 non-null object
Location End Date                      125102 non-null object
Mail Address                           14639 non-null object
Mail City                              149654 non-null object
Mail Zipcode                           149632 non-null object
Mail State                             149630 non-null object
NAICS Code                             155606 non-null object
NAICS Code Description                 155606 non-null object
Parking Tax                            250047 non-null bool
Transient Occupancy Tax                250047 non-null bool
LIC Code                               16642 non-null object
LIC Code Description                   1367 non-null object
Supervisor District                    147906 non-null float64
Neighborhoods - Analysis Boundaries    147901 non-null object
Business Corridor                      321 non-null object
Business Location                      167333 non-null object
dtypes: bool(2), float64(2), int64(1), object(21)
memory usage: 46.3+ MB

In [5]:
#NAICS Code Description list
set(registered_businesses['NAICS Code Description'])

{'Accommodations',
 'Administrative and Support Services',
 'Arts, Entertainment, and Recreation',
 'Certain Services',
 'Construction',
 'Financial Services',
 'Food Services',
 'Information',
 'Insurance',
 'Manufacturing',
 'Multiple',
 'Private Education and Health Services',
 'Professional, Scientific, and Technical Services',
 'Real Estate and Rental and Leasing Services',
 'Retail Trade',
 'Transportation and Warehousing',
 'Utilities',
 'Wholesale Trade',
 nan}

In [8]:
#Keep only 'Food Services' businesses for Restaurant List
restaurants = registered_businesses.loc[registered_businesses['NAICS Code Description'] == 'Food Services']
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12768 entries, 15 to 250025
Data columns (total 26 columns):
Location Id                            12768 non-null object
Business Account Number                12768 non-null int64
Ownership Name                         12768 non-null object
DBA Name                               12768 non-null object
Street Address                         12768 non-null object
City                                   12768 non-null object
State                                  12764 non-null object
Source Zipcode                         12685 non-null float64
Business Start Date                    12768 non-null object
Business End Date                      3128 non-null object
Location Start Date                    12768 non-null object
Location End Date                      4818 non-null object
Mail Address                           1319 non-null object
Mail City                              9640 non-null object
Mail Zipcode                           9640 non-null object
Mail State                             9638 non-null object
NAICS Code                             12768 non-null object
NAICS Code Description                 12768 non-null object
Parking Tax                            12768 non-null bool
Transient Occupancy Tax                12768 non-null bool
LIC Code                               6149 non-null object
LIC Code Description                   616 non-null object
Supervisor District                    6158 non-null float64
Neighborhoods - Analysis Boundaries    6158 non-null object
Business Corridor                      21 non-null object
Business Location                      6879 non-null object
dtypes: bool(2), float64(2), int64(1), object(21)
memory usage: 2.5+ MB

In [12]:
#Keep only select columns of "Restaurants"
restaurants = restaurants[['Location Id', 'DBA Name', 'Street Address', 
                           'City', 'State', 'Source Zipcode', 
                           'Location Start Date', 'Location End Date']]

#Drop entries without a 'Source Zipcode'
restaurants.dropna(subset=['Source Zipcode'], inplace=True)

In [13]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12685 entries, 15 to 250025
Data columns (total 8 columns):
Location Id            12685 non-null object
DBA Name               12685 non-null object
Street Address         12685 non-null object
City                   12685 non-null object
State                  12684 non-null object
Source Zipcode         12685 non-null float64
Location Start Date    12685 non-null object
Location End Date      4805 non-null object
dtypes: float64(1), object(7)
memory usage: 891.9+ KB