San Francisco - Registered Business Locations

In [89]:
import numpy as np
import pandas as pd
import datetime as dt

In [26]:
registered_businesses = pd.read_csv('Registered_Business_Locations_-_San_Francisco.csv')

In [69]:
registered_businesses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250047 entries, 0 to 250046
Data columns (total 26 columns):
Location Id                            250047 non-null object
Business Account Number                250047 non-null int64
Ownership Name                         250047 non-null object
DBA Name                               250047 non-null object
Street Address                         250043 non-null object
City                                   249856 non-null object
State                                  249431 non-null object
Source Zipcode                         249782 non-null float64
Business Start Date                    250047 non-null object
Business End Date                      100363 non-null object
Location Start Date                    250047 non-null object
Location End Date                      125102 non-null object
Mail Address                           14639 non-null object
Mail City                              149654 non-null object
Mail Zipcode                           149632 non-null object
Mail State                             149630 non-null object
NAICS Code                             155606 non-null object
NAICS Code Description                 155606 non-null object
Parking Tax                            250047 non-null bool
Transient Occupancy Tax                250047 non-null bool
LIC Code                               16642 non-null object
LIC Code Description                   1367 non-null object
Supervisor District                    147906 non-null float64
Neighborhoods - Analysis Boundaries    147901 non-null object
Business Corridor                      321 non-null object
Business Location                      167333 non-null object
dtypes: bool(2), float64(2), int64(1), object(21)
memory usage: 46.3+ MB

In [70]:
#NAICS Code Description list
#set(registered_businesses['NAICS Code Description'])

In [118]:
#Keep only 'Food Services' businesses for Restaurant List
restaurants = registered_businesses.loc[registered_businesses['NAICS Code Description'] == 'Food Services']
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12768 entries, 15 to 250025
Data columns (total 26 columns):
Location Id                            12768 non-null object
Business Account Number                12768 non-null int64
Ownership Name                         12768 non-null object
DBA Name                               12768 non-null object
Street Address                         12768 non-null object
City                                   12768 non-null object
State                                  12764 non-null object
Source Zipcode                         12685 non-null float64
Business Start Date                    12768 non-null object
Business End Date                      3128 non-null object
Location Start Date                    12768 non-null object
Location End Date                      4818 non-null object
Mail Address                           1319 non-null object
Mail City                              9640 non-null object
Mail Zipcode                           9640 non-null object
Mail State                             9638 non-null object
NAICS Code                             12768 non-null object
NAICS Code Description                 12768 non-null object
Parking Tax                            12768 non-null bool
Transient Occupancy Tax                12768 non-null bool
LIC Code                               6149 non-null object
LIC Code Description                   616 non-null object
Supervisor District                    6158 non-null float64
Neighborhoods - Analysis Boundaries    6158 non-null object
Business Corridor                      21 non-null object
Business Location                      6879 non-null object
dtypes: bool(2), float64(2), int64(1), object(21)
memory usage: 2.5+ MB

In [119]:
#Keep only select columns of "Restaurants"
restaurants = restaurants[['DBA Name', 'Street Address', 
                           'City', 'State', 'Source Zipcode', 
                           'Business Start Date', 'Business End Date']]

#Drop entries without a 'Source Zipcode'
restaurants.dropna(subset=['Source Zipcode'], inplace=True)

In [120]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12685 entries, 15 to 250025
Data columns (total 7 columns):
DBA Name               12685 non-null object
Street Address         12685 non-null object
City                   12685 non-null object
State                  12684 non-null object
Source Zipcode         12685 non-null float64
Business Start Date    12685 non-null object
Business End Date      3122 non-null object
dtypes: float64(1), object(6)
memory usage: 792.8+ KB

In [121]:
# Keep only entries with 'State' == 'CA'
restaurants = restaurants.loc[restaurants['State'] == 'CA']

In [122]:
#Decide to ignore all entries for the ballpark (not really representative of what I'm looking for)

In [123]:
#Write function to correct all misspellings of "San Francisco"
def fix_city_names(city):
    '''
    Correct all misspellings of "San Francisco" in 'City' column
    '''
    list_of_misspellings = ['Sa Francisco', 
                            'San', 
                            'San  Francisco', 
                            'San Fancisco', 
                            'San Farancisco', 
                            'San Fracisco', 
                            'San Fracnisco', 
                            'San Francico', 
                            'San Francicsco', 
                            'San Francicso', 
                            'San Francis', 
                            'San Francisc', 
                            'San Francisc0', 
                            'San Francisci', 
                            'San Franciscio', 
                            'San Franciscoq', 
                            'San Franciso', 
                            'San Francisoc', 
                            'San Francsico', 
                            'San Francsisco', 
                            'San Franicsco', 
                            'San Franisco', 
                            'San Fransico', 
                            'San Fransisco', 
                            'San Frascisco', 
                            'San Frnacisco', 
                            'Sanfrancisco', 
                            'Sanfrancisoc', 
                            'Sf', 
                            'Sn Francisco']
    
    if city in list_of_misspellings:
        return 'San Francisco'
    else:
        return city

In [124]:
restaurants['City'] = restaurants['City'].apply(fix_city_names)

In [125]:
# Keep only city listed as 'San Francisco'
restaurants = restaurants.loc[restaurants['City'] == 'San Francisco']
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11848 entries, 15 to 250025
Data columns (total 7 columns):
DBA Name               11848 non-null object
Street Address         11848 non-null object
City                   11848 non-null object
State                  11848 non-null object
Source Zipcode         11848 non-null float64
Business Start Date    11848 non-null object
Business End Date      2902 non-null object
dtypes: float64(1), object(6)
memory usage: 740.5+ KB

In [126]:
# Drop 'City' and 'State' columns now that they've been standardized
restaurants.drop(columns=['City', 'State'], inplace=True)

In [127]:
# Convert 'Business Start Date' and 'Business End Date' to datetime objects
restaurants['Business Start Date'] = pd.to_datetime(restaurants['Business Start Date'], format='%m/%d/%Y')
restaurants['Business End Date'] = pd.to_datetime(restaurants['Business End Date'], format='%m/%d/%Y')

In [128]:
#restaurants.info()

In [129]:
# Create column 'Years Open' for length of time restaurant was/has been in business
#Closed restaurants:
restaurants.loc[restaurants['Business End Date'].notnull(), 'Years Open'] = (
    (restaurants['Business End Date'] - restaurants['Business Start Date']).dt.days)/365

#Restaurants still in business:
restaurants.loc[restaurants['Business End Date'].isnull(), 'Years Open'] = (
    (pd.to_datetime('today') - restaurants['Business Start Date']).dt.days)/365

In [130]:
# Create column for year opened
restaurants['Year Opened'] = (restaurants['Business Start Date']).dt.year

# Create column for month opened
restaurants['Month Opened'] = (restaurants['Business Start Date']).dt.month

In [131]:
# Keep only restaurants opened since 2010
restaurants = restaurants.loc[restaurants['Year Opened'] >= 2010]

In [132]:
# Keep only restaurants open longer than 1 year
restaurants = restaurants.loc[restaurants['Years Open'] >= 1]

In [133]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6493 entries, 15 to 249956
Data columns (total 8 columns):
DBA Name               6493 non-null object
Street Address         6493 non-null object
Source Zipcode         6493 non-null float64
Business Start Date    6493 non-null datetime64[ns]
Business End Date      1492 non-null datetime64[ns]
Years Open             6493 non-null float64
Year Opened            6493 non-null int64
Month Opened           6493 non-null int64
dtypes: datetime64[ns](2), float64(2), int64(2), object(2)
memory usage: 456.5+ KB

In [146]:
# Need to remove all 'DBA Name' with 'Aramark' and 'Guckenheimer' in the title 
#  --> corporate catering, not restaurants
restaurants = restaurants.loc[~restaurants['DBA Name'].str.contains('Aramark')]
restaurants = restaurants.loc[~restaurants['DBA Name'].str.contains('Guckenheimer')]

In [139]:
# Issues that still need to be addressed:
# - Duplicates (different business ID number, but same business location)?
# - Companies with vendors registered (not a proper restaurant)

In [151]:
#Look into subset of 'Closed Restaurants'
#closed_restaurants = 
#restaurants.loc[restaurants['Business End Date'].notnull()]